/*///////////////////////// GENERALES /////////////////////////*/

body {
  font-family: 'Palanquin',
    sans-serif;
  color: #1E3046;
}

* {
  scroll-behavior: smooth;
}

section {
  overflow: hidden !important;
}

h1 {
  font-size: 76px;
  line-height: 1;
  letter-spacing: -1px;
}

h2 {
  font-size: 55px;
  line-height: 1;
  letter-spacing: -1px;
}

h3 {
  font-size: 38px;
  line-height: 1;
}

a:hover {
  text-decoration: none;
}

.lh-100 {
  line-height: 1;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fs-18 {
  font-size: 18px;
}

.fs-21 {
  font-size: 21px;
}

.fs-24 {
  font-size: 24px;
}

.fs-28 {
  font-size: 28px;
}

.fs-32 {
  font-size: 32px;
}

.fs-36 {
  font-size: 36px;
}

.ls-50 {
  letter-spacing: 5px;
}

.btn {
  border-radius: 35px;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 15px;
}

.btn-primary {
  background: #FFAE23 !important;
  color: #fff;
  border: 2px solid #FFAE23 !important;
  transition: all ease .25s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #3FB7F6 !important;
  color: #fff !important;
  border: 2px solid #3FB7F6 !important;
  transition: all ease .25s;
  box-shadow: none !important;

}

.primary {
  color: #FFAE23 !important;
}

.primary-bg {
  background: #FFAE23 !important;
}

.secondary {
  color: #39DCFF;
}

.secondary-bg {
  background: #39DCFF;
}

.whatsapp-mobile {
  position: fixed;
  z-index: 700;
  bottom: 1.5rem;
  right: 1.5rem;
  opacity: .9;
  transition: all ease .25s;
}

.whatsapp-mobile {
  width: 56px;
  height: 56px;
}

.whatsapp-mobile:hover {
  opacity: 1;
  transition: all ease .25s;
  transform: scale(1.1);
}

/* HEADER  */

.menu {
  background-color: transparent;
  -webkit-transition: background 0.3s 0s linear;
  -moz-transition: background 0.3s 0s linear;
  -o-transition: background 0.3s 0s linear;
  transition: background 0.3s 0s linear;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
}

.header-logo {
  background-image: url("../images/header-white-logo.svg");
  width: 200px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
}

.header-color-logo {
  background-image: url("../images/header-color-logo.svg");
}

.navbar {
  z-index: 5;
  width: 100%;
  padding: 1rem 0rem;
}

.nav-link {
  font-size: 18px;
  font-weight: 600;
  color: white !important;
  margin-right: 1rem !important;
  margin-left: 1rem !important;
  padding-bottom: 0px;
  position: relative;
  transition: linear 0.2s;
  padding: 8px 15px !important;
}

.nav-link:hover,
.nav-item.rrss a:hover {
  color: #FFAE23 !important;
}

.nav-item .btn,
.nav-item.rrss {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.active .nav-link {
  font-weight: 700;
  color: #39DCFF !important;
}

/* Bs nav para el menú mobile */
.navbar-toggler-icon,
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  background-color: white !important;
  transition: .3s;
}

.bsnav-mobile .navbar {
  left: 0 !important;
  transform: translate3d(-300px, 0, 0) !important;
  box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
  background-color: #FFAE23;
}

.bsnav-mobile .navbar .nav-link {
  color: #00395E !important;
}

.bsnav-mobile.in .navbar {
  transform: translate3d(0px, 0, 0) !important;
}

.header-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #1E3046;
  z-index: 0;
  opacity: .6;
}

.blue-links {
  color: #1E3046 !important;
  transition: .3s;
}

.blue-links:hover {
  color: #FFAE23 !important;
}

.blue-toggler,
.blue-toggler::before,
.blue-toggler::after {
  background-color: #1E3046 !important;
}

.nav-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.menu-overlay {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0;
  background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.15) 30%, #041A29);
  background: linear-gradient(0deg, transparent 0, rgba(0, 0, 0, 0.15) 30%, #041A29);
  z-index: 2;
  opacity: .9;
}

/* MAIN */

.main-section {
  min-height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}

.main-video {
  width: 100%;
  position: absolute;
  height: 100%;
  object-fit: cover;
  z-index: -5;
}

.main-arrow {
  width: 65px;
  color: #fff;
  height: 65px;
  border: 1px solid #fff;
  border-radius: 50%;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .3s;
  cursor: pointer;
  z-index: 40;
}

.main-arrow:hover {
  background-color: #FFAE23;
  border-color: #FFAE23;
  text-decoration: none;
  color: #fff;
}

.animacion .olitas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.animacion .olitas li {
  position: absolute;
  display: block;
  list-style: none;
  animation: animate 20s linear infinite;
  bottom: 15%;
}

.animacion .olitas li:nth-child(1) {
  right: 50px;
  animation-delay: 0s;
  animation-duration: 10s;
}

.animacion .olitas li:nth-child(2) {
  right: 0;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 10s;
}
.animacion .olitas li:nth-child(1) {
  right: 50px;
  animation-delay: 0s;
  animation-duration: 10s;
}

.animacion .olitas li:nth-child(2) {
  right: 0;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 10s;
}
.animacion .olitas li:nth-child(3) {
  left: 20%;
  bottom: 68%;
  animation-delay: 0s;
  animation-duration: 10s;
}

.animacion .olitas li:nth-child(4) {
  left: 15%;
  bottom: 72%;
  animation-delay: 0s;
  animation-duration: 10s;
}

@keyframes animate {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateX(-1000px);
    opacity: 0;
    border-radius: 50%;
  }
}

/* Quienes somos */
.quienes-somos {
  background: url("../images/quienes-somos-bg.svg") #fff;
  background-position: right bottom;
  background-size: auto;
  background-repeat: no-repeat;
  background-position-y: 10px;
}

.productos {
  background: url("../images/productos-bg-deco-2.svg"),
    url("../images/productos-bg-deco.svg"),
    url("../images/productos-bg.svg") #fff;
  background-position: bottom right, bottom left, top center;
  background-size: auto;
  background-repeat: no-repeat;
}

.producto-titulo {
  position: absolute;
  bottom: 0;
  left: 20px;
  padding: 15px;
}

.producto-titulo::before {
  content: url("../images/titulo-deco.svg");
}

.productos ul {
  padding-left: 1.2rem;
}

.productos ul b {
  font-weight: 600;
}

.productos ul li {
  margin-bottom: 8px;
  font-size: 16px;
}

.productos ul li::marker {
  color: #FFAE23;
}

.incluye {
  font-size: 14px;
  padding: 8px;
  color: #AEB4BD;
  border: 2px solid #AEB4BD;
  width: max-content;
}

/* Caracteristicas */

.caracteristicas {
  background: url("../images/caracteristicas-bg.svg") #E4EAF1;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.incluyen-foto {
  width: 100%;
  border-radius: 17px;
  box-shadow: 0px 0px 15px 0px rgba(85, 85, 85, 0.2);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(85, 85, 85, 0.2);
  -moz-box-shadow: 0px 0px 15px 0px rgba(85, 85, 85, 0.2);
  transition: .3s;
}

.incluyen-foto:hover {
  box-shadow: 0px 0px 15px 0px rgba(85, 85, 85, 0.6);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(85, 85, 85, 0.6);
  -moz-box-shadow: 0px 0px 15px 0px rgba(85, 85, 85, 0.6);
}

.hover-color p {
  transition: .3s;
  line-height: 1;
}

.hover-color:hover>p {
  color: #FFAE23 !important;
}

/* CONTACT */

.contacto form input,
.contacto form textarea {
  font-weight: 300;
  font-size: 16px;
  color: #1E3046;
  background-color: #E4EAF1;
  border: none;
  border-radius: 8px;
}

.contacto form label {
  font-size: 12px;
  font-weight: 700;
  color: #1E3046;
  text-transform: uppercase;
}

.contacto form input::-webkit-input-placeholder,
.contacto form textarea::-webkit-input-placeholder {
  color: #1E3046 !important;
}

.contacto form input:-moz-placeholder,
.contacto form textarea:-moz-placeholder {
  color: #1E3046 !important;
}

.contacto form input::-moz-placeholder .contacto form textarea::-moz-placeholder {
  color: #1E3046 !important;
}

.contacto form input:-ms-input-placeholder,
.contacto form textarea:-ms-input-placeholder {
  color: #1E3046 !important;
}

.contacto .form-control:not(textarea) {
  height: calc(1.5em + 1rem + 2px);
}

.contacto .form-control:focus {
  color: #00395E;
  background-color: #f1f1f1;
  border-color: #FFAE23;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgb(255 174 35);
}

/* FOOTER */
footer {
  background: #1E3046;
  padding: 65px 0px 100px 0px;
  position: relative;
}

footer a,
.contacto a {
  transition: .3s;
}

footer a:hover,
.contact-info a:hover {
  text-decoration: none;
  color: #39DCFF !important;
}

.copyright {
  background-color: #0000004b;
  position: absolute;
  bottom: 0;
  font-size: 14px;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .nav-link {
    padding: 25px 0px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 42px;
  }

  .btn-contacto {
    background: #1E3046 !important;
    color: #fff;
    border: 2px solid #1E3046 !important;
    transition: all ease .25s;
    margin: 20px 0px;

  }

  .nav-item.rrss a {
    color: #00395E !important;
  }

}

@media (max-width: 525px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 30px;
  }

  .producto-titulo {
    left: 5px;
  }

  footer {
    background-size: cover;
    padding: 75px 0px 100px 0px;
  }

}